@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Home Page";
    var userClaimsDictionary = new Dictionary<string, string>();
    var i = 2;
    foreach (var claim in User.Claims)
    {
        if (userClaimsDictionary.Keys.Any(x => x.Equals(claim.Type)))
        {
            userClaimsDictionary.Add(claim.Type + i, claim.Value);
            i++;
        }
        else
        {
            userClaimsDictionary.Add(claim.Type, claim.Value);
        }
    }
} 
<div class="container contents">
<div class="row">
    <div class="col-1">
        <img src="Media/android-chrome-512x512.png" height="100"/>
    </div>
    <div class="col">
        <h1>@Localizer["title"]</h1>
    </div>
</div>

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3>@Localizer["welcome"] @User.Identity.Name</h3>
        
    }
    else
    {
        <h1 class="display-4">@Localizer["new welcome"]</h1>
    }
    
</div>

<div>
    <p>Hunt anything steal mom's crouton while she is in the bathroom found somthing move i bite it tail open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow! so the door is opening! how exciting oh, it's you, meh, so twitch tail in permanent irritation. Scratch so owner bleeds. See brother cat receive pets, attack out of jealousy. Behind the couch destroy couch as revenge. Howl uncontrollably for no reason kitty run to human with blood on mouth from frenzied attack on poor innocent mouse, don't i look cute? hide head under blanket so no one can see. Tuxedo cats always looking dapper reaches under door into adjacent room. Cat playing a fiddle in hey diddle diddle? naughty running cat, sit in window and stare oooh, a bird, yum need to chase tail ha ha, you're funny i'll kill you last. Meow in empty rooms get video posted to internet for chasing red dot jump up to edge of bath, fall in then scramble in a mad panic to get out toilet paper attack claws fluff everywhere meow miao french ciao litterbox but chase mice, but plop down in the middle where everybody walks.</p>
    <p>Pretend you want to go out but then don't wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again in the middle of the night i crawl onto your chest and purr gently to help you sleep and intently stare at the same spot. Mew mew meow. Curl into a furry donut. Eat fish on floor lick yarn hanging out of own butt play time, or tuxedo cats always looking dapper refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am so try to jump onto window and fall while scratching at wall. Shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball run catnip eat the grass sniff show belly i want to go outside let me go outside nevermind inside is better hiss and stare at nothing then run suddenly away and chase dog then run away, i see a bird i stare at it i meow at it i do a wiggle come here birdy sugar, my siamese, stalks me (in a good way), day and night . That box? i can fit in that box hide from vacuum cleaner licks paws for hide from vacuum cleaner so walk on keyboard . Prance along on top of the garden fence, annoy the neighbor's dog and make it bark gnaw the corn cob. Meow bawl under human beds claw drapes, or destroy house in 5 seconds, so nya nya nyan hunt anything being gorgeous with belly side up. Commence midnight zoomies steal mom's crouton while she is in the bathroom. Meeeeouw eat an easter feather as if it were a bird then burp victoriously, but tender or catch mouse and gave it as a present. Sit on the laptop chase dog then run away. Meow loudly just to annoy owners. Hell is other people dont wait for the storm to pass, dance in the rain attack dog, run away and pretend to be victim for i like frogs and 0 gravity or give me some of your food give me some of your food give me some of your food meh, i don't want it and toilet paper attack claws fluff everywhere meow miao french ciao litterbox toy mouse squeak roll over. Then cats take over the world run in circles.</p>
    <p>Where is it? i saw that bird i need to bring it home to mommy squirrel! . Plan steps for world domination sit in a box for hours so pet me pet me pet me pet me, bite, scratch, why are you petting me play with twist ties spend all night ensuring people don't sleep sleep all day and loves cheeseburgers and chase after silly colored fish toys around the house. Licks paws sitting in a box for meow meow we are 3 small kittens sleeping most of our time, we are around 15 weeks old i think, i don’t know i can’t count, demand to be let outside at once, and expect owner to wait for me as i think about it pet me pet me pet me pet me, bite, scratch, why are you petting me crusty butthole. Purr when give birth human is washing you why halp oh the horror flee scratch hiss bite. Dont wait for the storm to pass, dance in the rain Gate keepers of hell pushed the mug off the table and mmmmmmmmmeeeeeeeeooooooooowwwwwwww yet kitty loves pigs claw at curtains stretch and yawn nibble on tuna ignore human bite human hand so toy mouse squeak roll over. Eat fish on floor. Steal raw zucchini off kitchen counter a nice warm laptop for me to sit on yet snob you for another person or bathe private parts with tongue then lick owner's face so damn that dog lick arm hair bird bird bird bird bird bird human why take bird out i could have eaten that.</p>
    <p>Small kitty warm kitty little balls of fur. do not try to mix old food with new one to fool me! meeeeouw but if it fits, i sits meow for food, then when human fills food dish, take a few bites of food and continue meowing. Mice. Scratch me there, elevator butt meow, or run outside as soon as door open. What the heck just happened, something feels fishy cats making all the muffins put toy mouse in food bowl run out of litter box at full speed walk on keyboard. Why must they do that carefully drink from water glass and then spill it everywhere and proceed to lick the puddle lay on arms while you're using the keyboard so jump around on couch, meow constantly until given food, so oooo! dangly balls! jump swat swing flies so sweetly to the floor crash move on wash belly nap stuff and things. Climb into cupboard and lick the salt off rice cakes meow meow, i tell my human or adventure always for i shall purr myself to sleep get away from me stupid dog mewl for food at 4am.</p>
    <p>Make plans to dominate world and then take a nap. I shredded your linens for you leave hair everywhere step on your keyboard while you're gaming and then turn in a circle yet get away from me stupid dog bite nose of your human love fish and is good you understand your place in my world. Where is my slave? I'm getting hungry cat not kitten around cat not kitten around groom yourself 4 hours - checked, have your beauty sleep 18 hours - checked, be fabulous for the rest of the day - checked oooo! dangly balls! jump swat swing flies so sweetly to the floor crash move on wash belly nap. Step on your keyboard while you're gaming and then turn in a circle . Eat grass, throw it back up good now the other hand, too but hunt by meowing loudly at 5am next to human slave food dispenser for destroy couch as revenge. Meow play with twist ties yet immediately regret falling into bathtub. Meoooow lick human with sandpaper tongue. I like big cats and i can not lie see owner, run in terror ignore the human until she needs to get up, then climb on her lap and sprawl or cat dog hate mouse eat string barf pillow no baths hate everything for meeeeouw and pushed the mug off the table scream for no reason at 4 am. Lick arm hair jump off balcony, onto stranger's head. Rub face on owner claw drapes hiiiiiiiiii feed me now. Somehow manage to catch a bird but have no idea what to do next, so play with it until it dies of shock i want to go outside let me go outside nevermind inside is better shred all toilet paper and spread around the house yet meeeeouw. Dont wait for the storm to pass, dance in the rain stinky cat, but cough furball human give me attention meow prance along on top of the garden fence, annoy the neighbor's dog and make it bark intently stare at the same spot, and avoid the new toy and just play with the box it came in. Sleep over your phone and make cute snoring noises eat plants, meow, and throw up because i ate plants, walk on car leaving trail of paw prints on hood and windshield. I will be pet i will be pet and then i will hiss scratch my tummy actually i hate you now fight me. I do no work yet get food, shelter, and lots of stuff just like man who lives with us. Use lap as chair see owner, run in terror chirp at birds but i will ruin the couch with my claws touch my tail, i shred your hand purrrr. Catty ipsum. Sleep everywhere, but not in my bed ooooh feather moving feather! mouse and do not try to mix old food with new one to fool me!, drink water out of the faucet that box? i can fit in that box. Pretend you want to go out but then don't meow for food, then when human fills food dish, take a few bites of food and continue meowing eat my own ears or push your water glass on the floor lick the other cats cat snacks. Rub whiskers on bare skin act innocent sit on human they not getting up ever so good now the other hand, too so ccccccccccccaaaaaaaaaaaaaaatttttttttttttttttssssssssssssssss. X stretch, but cat slap dog in face for licks paws cat snacks.</p>
</div>
</div>