@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-top: 60px;
    background-image: url('../Media/nature-2512898_1920.jpg');
    font-family: 'Rajdhani', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #63437a;
}

a:hover {
    color: #340b54;
}

.contents {
    margin: 0 auto;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 3px grey;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1.5%;
}

button, .btn {
    border: none;
    background-color: #81368a;
    color: white;
    border-radius: 4px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn:hover {
    background-color: #340b54;
}

.form-group {
    font-size: 1.15rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

td, th {
    margin: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid lightgrey;
}

#trigger0, #trigger10 {
    background-color: grey;
}

#trigger0:hover, #trigger10:hover {
    background-color: #63437a;
    color: white;
}

.language {
    background-color: white;
    padding: 5px;
    margin: 2px;
    color: grey;
}

img {
    display: inline-block;
    max-width: 750px;
    width: auto;
    height: auto;
}

#logo {
    width: 100px;
}